<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answered Questions | Venus Frame</title>
</head>

<body>
  <h3 class="big-text">My answer: <%= answer.answerText %></h3>
  <% if (!partnerAnswer) { %>
   Partner has not answered yet.




<% } else { %>
  <h3 class="big-text">Partner's answer: <%= partnerAnswer.answerText %></h3>


  <% } %>
  <button class="btn-large"><a href = '/users/PreviewPage'>Return to Preview</a></button>
</body>

</html>
