<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finding Parnter Id | VenusFrame</title>
</head>
<body>
  <h3 class="big-text">Your code is  !!!</h3>
  <h3 class="big-text">If you know your Partner's code, enter it here </h3>
  <div>
    <label for = "partnercode"></label>
    <input name = "typeCode" id = "typeCode" class = "typeCode" placeholder = "typeCode" type = "typeCode">
    <button class = "btn">Find!</button>
</div>
</body>
</html>
