<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>typeCode | Venus Frame</title>
</head>
<body>
  <h1 class="big-title">Share the Code with your Partner !!!</h1>
  <h3 class="big-text">The code is  <%= typeCode %> </h3>
</body>
</html>
