<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Questions |Venus Frame</title>
</head>

<body>
  <h3 class="big-text">Daily question of the day!!!</h3>
  <label for = "answer"></label>
  <input name = "answer" id = "answer" class = "answer" placeholder = "answer" type = "answer">
    <button>Submit</button>
</form>
</body>

</html>
