@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

:root {
  --cell-background: #b5c3ed;
  --cell-text: #2a2b2d;
  --cell-accent: #536eb2;
  --color-text-darker: #201b58;
}

.big-text {
  text-align: center;
  font-family: 'times new roman', sans-serif;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}

.aniversary-title {
  color : black;
  font-family: 'times new roman', sans-serif;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}

.big-title {
  text-align: center;
  margin-top: 100px;
  font-family: 'times new roman', sans-serif;
  font-size: 3em;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}
.btn {
  background-color: var(--cell-background);
  color: var(--color-text-darker);
  border: 2px solid var(--cell-border);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: rem;
  position: relative;
  transition: box-shadow 0.35s, top 0.3s, transform 0.45s;
  top: 0;
  left: 0;
  display: block;
  box-shadow: 0/ 1px 0 0 var(--cell-border), 0 2px 0 0 var(--cell-border),
    0 3px 0 0 var(--cell-border);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  font-size: 0.75rem;
  font-weight: bold;
}

.btn-small {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.btn-large {
  margin-top: 20px;
  font-size: 1.75rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 0 0 0 var(--cell-border), 0 0 0 0 var(--cell-border), 0 0 0 0 var(--cell-border);
  top: 3px;
  transform: rotateX(5deg) rotateY(10deg) rotateZ(0.5deg);
  cursor: pointer;
}

.gradient-text {
  background-color: #3a308e;
  background-image: linear-gradient(45deg, #0e0ba5, #302bc2);
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  line-height: normal;
}

.homepage header {
  margin-top: 1em;
}

.homepage h1 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  font-size: 5rem;
  margin-top: 10%;
  margin-bottom: 2%;
}

.homepage h2 {
  font-weight: normal;
  font-size: 2.5em;
}

body.homepage {
  color: rgb(40, 95, 109);
  text-align: center;
}

body {
  font-family: 'Bradley Hand', sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('/imgs/background.jpg');
  background-size: cover;
}

.formCard {
  min-height: 90vh;
  display: flex;
}

.form-container {
  color: white;
  background: #111b1e31;
  backdrop-filter: blur(0.5rem);
  margin: auto;
  border-radius: none;
  padding: 10px 30px 20px 30px;
}

.form-container {
  text-align: center;
}

.form-container h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.form-container h2 {
  font-size: 1.5em;
  text-align: center;
}

input {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px rgb(251, 251, 251);
  width: 100%;
  color: rgb(47, 61, 124);
  font-size: 1.25em;
  outline: none;
}

form input {
  margin-bottom: 20px;
  margin-top: 20px;
}

input::placeholder {
  color: #6ba3ed;
}

label {
  visibility: hidden;
}

.authBody {
  display: flex;
  width: 70%;
  margin: auto;
  background-color: rgb(186, 223, 220);
}

#authForm {
  display: flex;
  flex-direction: column;
}

.authContainer {
  margin: auto;
}

.chatBody {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#chatForm {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#chatMessage {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#chatMessage:focus {
  outline: none;
}
#chatForm > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  margin-top: 50px;
}
#messages {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.hidden {
  display: none;
}

.chatMessage {
  background-color: rgb(75, 142, 187);
}
.enterChatMessage {
  background-color: rgb(140, 234, 201);
}
.transferReceiveMessage {
  background-color: rgb(246, 246, 246);
}

li {
  font-size: 20px;
}

div {
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: center;
}

.follow-header  {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.center-btn {
  text-align: center;
}

.space  {
  margin-top: 40px;
}

.container
{
  display: flex;
}

.container .middleRadio
{
  display: flex;
  flex-direction: column;
}
